@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background-color: #e2e2ee;
  --primary-color: #d4d4e7;
  --secundary-color: #dddde9;
  
  --primary-text-color: #484855;
  --secundary-text-color: #24242c;

  --light-bar-color: #ffff00;
  --dark-bar-color: #5555ff;
}

h1, p, a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

h1 {
  color: var(--primary-text-color);
}

p, a {
  color: var(--secundary-text-color);
}

.container {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: var(--primary-color);

  width: 70%;
  min-height: 40%;
  max-height: 600px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;

  position: relative;
}

.label-switch {
  position: absolute;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  top: 10px;
  right: 10px;
}

.label-switch:hover {
  cursor: pointer;
}

.label-switch * {
  margin: 0 8px;

  transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.label-switch .bar {
  background-color: var(--light-bar-color);

  width: 30px;
  height: 7px;
  border-radius: 4px;

  position: relative;
}

.bar .detail {
  background-color: var(--secundary-color);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

  width: 20px;
  height: 20px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
}

.bar .detail .point-detail {
  background-color: var(--light-bar-color);
  box-shadow: 0 0 7px 2px rgba(255, 255, 0, 0.2),
              0 0 2px 1px rgba(255, 255, 0, 0.5),
              0 0 1px 0 rgba(255, 255, 0, 0.8);

  width: 5px;
  height: 5px;
  border-radius: 100%;
}

.label-switch input:checked ~ .bar {
  background-color: var(--dark-bar-color);
}

.label-switch input:checked ~ .bar .detail {
  left: calc(30px - 11px);
}

.label-switch input:checked ~ .bar .detail .point-detail {
  background-color: var(--dark-bar-color);
  box-shadow: 0 0 7px 2px rgba(85, 85, 255, 0.2),
              0 0 2px 1px rgba(85, 85, 255, 0.3),
              0 0 1px 0 rgba(85, 85, 255, 0.4);
}

.label-switch input {
  display: none;
}

.iconTheme {
  width: 30px;
}

.text {
  width: 90%;
}

footer {
  width: 100vw;
  height: 30px;

  position: absolute;
  bottom: 0;
}